@font-face {
   font-family: varoste;
   src: url(font/Varoste.ttf);
  }

  
@font-face {
  font-family: nyxerin;
  src: url(font/NYXERIN.otf);
 }
 
  
  *{
       font-family: veroste;
  }

body {
 /* font-family: Arial, sans-serif; */
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
}

.loader{
   height: 100%;
   width: 100%;
   background-color: whitesmoke;
   position: fixed;
   z-index: 999;
   top: 0;
   transform: all ease 0.5s;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loader h1{
  font-family: nyxerin;
    font-size: 9vw;
  font-weight: 500;
 color: transparent; 
 background: linear-gradient(to right,orange,orangered);
 -webkit-background-clip: text;
 position: absolute;
 opacity: 0;
 animation-name: load;
 animation-duration: 1s;
 animation-delay: 1s;
 animation-timing-function: linear;
}

.loader h1{
     margin-bottom: 45vh;
}

.loader h1:nth-child(2){
animation-delay: 2s;
}

.loader h1:nth-child(3){
  animation-delay: 3s;
}

.loader h1:nth-child(4){
  animation-delay: 4s;
}

@keyframes load{
  0%{
        opacity: 0;
  }
  10%{
        opacity: 1;
  }
  90%{
        opacity: 1;
  }
  100%{
        opacity: 0;
  }
}

.video-background{
 position: fixed;
 overflow: hidden;
 z-index: -1;
}

h1{
  color: white;
  font-size: 80px;
  margin-top: 15%;
  /* margin-bottom: 10%; */
}


.container {
 text-align: center;
 background-color: #0000008e;
 margin-bottom: 10%;
 padding: 50px;
 border-radius: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.container h1{
 color: white;
}

.question {
 color: rgb(255, 255, 255);
 font-size: 30px;
 margin-bottom: 20px;
}

.choices {
 list-style: none;
 padding: 0;
}

.choices li {
 margin-bottom: 10px;
}

.choices button {
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
 background-color: #007bff;
 color: #fff;
 border: none;
 border-radius: 5px;
}

.choices button:active {
   transition: transform 1s ease-in-out;
   transform: scale(1.09);
   background-color: rgb(21, 173, 52);
}

.score {
 color: #1d1f20;
 background-color: rgb(88, 190, 10);
 font-size: 24px;
 margin-top: 20px;
}